html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
  body
    h1.h1 Bem vindo ao barber app
    p
      strong Valide sua conta:
    p
      strong Clique no link abaixo para ativar a sua conta
      br
      =link
